/* CreatePassword Styles */

/* Label */
.label {
    color: #2a2a2a; /* Primary color */
    text-align: left;
    font-size: 18px;
    font-family: 'Lato-Bold'; /* Use the same font-family from React Native styles */
  }
  
  /* Input fields with icon */
  .inputWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Image container */
  .imageBlock {
    flex: 0.5;
    justify-content: center;
    margin-top: 50px;
  }
  
  /* Image style */
  .imageStyle {
    border-radius: 15px;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 120px; /* Adjust height as needed */
    width: 75%; /* Adjust width as needed */
    object-fit: contain; /* Equivalent to resizeMode: 'contain' */
  }
  
  /* Main container */
  .passwordContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;
  }

  .passwordCard{
    width: 50%;
    margin-top: 30px;
    border: 0.5px solid #3c3c3c;
    background-image: linear-gradient(to bottom,#faf9f9,#f3e2f8);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  /* Input block */
  .inputBlock {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
  }
  
  /* Error message */
  .error {
    color: #e74c3c; /* Red color for errors */
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  /* Button */
  .button {
    align-self: center;
    margin-top: 30px;
    background-color: #25a6b8;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    width: 40%;
    font-weight: 500;
  }

  .company-logo{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .password-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .password-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .password-label{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

    /* Input fields */
    .input-field {
      border-bottom-color: #3c3c3c; /* Dark gray border color */
      border-width: 0.5px;
      font-size: 16px;
      font-family: 'Lato-Bold'; /* Use the same font-family from React Native styles */
      color: #333333; /* Primary dark text color */
      width: 100%;
      border-radius: 5px;
      padding: 5px 2px 5px 5px;
      /* margin-bottom: 15px; */
    }
  